<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

<!-- 리스너 등록 -->
  <listener>
  	<listener-class>
  	org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>
  	/WEB-INF/config/root-context.xml
  	/WEB-INF/config/db-config.xml
  	/WEB-INF/config/mybatis-config.xml
  	/WEB-INF/config/security-context.xml
  	</param-value>
  </context-param>
  
<!-- 필터 등록 -->
 <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping> 


 <!-- Spring Security 필터 설정 -->
      <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!-- 서블릿등록 -->
<servlet>
  <servlet-name>login-dispatcher</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>/WEB-INF/config/login-servlet.xml</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
  
  <servlet-mapping>
  <servlet-name>login-dispatcher</servlet-name>
  <url-pattern>/login/*</url-pattern> <!-- pattern /, /* , /** (/admin/func1/func2) -->
  </servlet-mapping>
  
  <servlet>
  <servlet-name>member-dispatcher</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>/WEB-INF/config/member-servlet.xml</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
  
  <servlet-mapping>
  <servlet-name>member-dispatcher</servlet-name>
  <url-pattern>/member/*</url-pattern> <!-- pattern /, /* , /** (/admin/func1/func2) -->
  </servlet-mapping>
  <servlet>
  <servlet-name>booklist-dispatcher</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <!-- bookList 전용 설정 파일 위치 -->
    <param-value>/WEB-INF/config/booklist-servlet.xml</param-value>
  </init-param>
  <load-on-startup>3</load-on-startup>
</servlet>
  <servlet-mapping>
  <servlet-name>booklist-dispatcher</servlet-name>
  <url-pattern>/bookList/*</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>bookdetail-dispatcher</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/config/bookdetail-servlet.xml</param-value>
  </init-param>
  <load-on-startup>4</load-on-startup>
</servlet>
<servlet>
  <servlet-name>adminBookManage-dispatcher</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/config/adminBookManage-servlet.xml</param-value>
  </init-param>
  <load-on-startup>6</load-on-startup>
</servlet>

<servlet-mapping>
  <servlet-name>adminBookManage-dispatcher</servlet-name>
  <url-pattern>/admin/bookManage/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>bookdetail-dispatcher</servlet-name>
  <!-- 상세보기 URL 패턴을 /bookDetail/* 로 바꿔서 충돌 방지 -->
  <url-pattern>/bookDetail/*</url-pattern>
</servlet-mapping>
  

<!-- 404에러 발생시 web.xml에 error-page등록 -->
<error-page>
<error-code>404</error-code>
<location>/all/404</location>
</error-page>
</web-app>